PORT = 5000
MONGODB_URL = mongodb+srv://<user>:<password>@<cluster-host>/<db-name>?retryWrites=true&w=majority
DOMAIN = http://localhost:3000
WOOCOMMERCE_URL = https://bimify.it
WOOCOMMERCE_CONSUMER_KEY = ck_your_consumer_key
WOOCOMMERCE_CONSUMER_SECRET = cs_your_consumer_secret
